.loader {
  display: inline-block;
  border-radius: 50%;
  animation: spin 1s linear infinite;

  &__img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
