.input {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 100%;
    width: 100%;
    height: 52px;
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  &__field {
    width: 100%;
    height: 100%;
    padding: 16px 12px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--color-text-primary);
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius);
    appearance: none;
    outline: none;

    &::placeholder {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: var(--color-text-secondary);
    }

    &:focus {
      border: 1px solid var(--color-text-secondary);
    }

    &:disabled {
      color: var(--color-text-disabled);
    }
  }

  &__icon {
    position: absolute;
    right: 12px;
    display: flex;
    align-items: center;
    pointer-events: none;
  }
}
