@use "@styles" as *;

.favorites-page {
  background-color: var(--color-main-background);
  padding-top: 49px;
  padding-bottom: 53px;
  position: relative;
  min-height: 100vh;

  &__loader-wrapper {
    @include loader-wrapper;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-xl);
    @include container;
  }
}
