@use "@styles" as *;

.search-section {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xl);
  @include container;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__categories {
    width: 100%;
    max-width: 300px;
    align-self: flex-end;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: var(--space-m);
  }

  &__item {
    display: flex;
    max-width: 100%;
    justify-content: center;
    cursor: pointer;
  }

  &__card {
    flex: auto 1 1;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 900px) {
  .search-section {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}

@media screen and (min-width: 1024px) {
  .search-section {
    &__list {
      column-gap: var(--space-xxl);
      row-gap: 64px;
    }
  }
}
