@use "@styles" as *;

.search-section {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xl);
  @include container;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__categories {
    width: 100%;
    max-width: 300px;
    align-self: flex-end;
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 9999;
  }
}

@media screen and (min-width: 900px) {
  .search-section {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}

@media screen and (min-width: 1024px) {
  .search-section {
    &__list {
      column-gap: var(--space-xxl);
      row-gap: 64px;
    }
  }
}
