.combo-box {
  width: 100%;
  max-width: 100%;
  position: relative;

  &__list {
    list-style-type: "none";
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 8px);
    z-index: 3;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--color-white);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;

    &_open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 12px;
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-text-primary);

    &:hover {
      color: var(--color-text-secondary);
    }

    &_loader {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}