.button {
  height: 52px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 17px 20px;
  font-family: "Roboto";
  font-weight: var(--text-weight, 400);
  font-size: 18px;
  line-height: 100%;
  color: var(--color-white);
  background-color: var(--color-brand);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;

  &:not(.button_disabled):not(.button_loading):hover {
    background-color: var(--color-brand-hover);
  }

  &:active {
    background-color: var(--color-brand-active);
  }

  &_disabled,
  &_disabled:hover {
    background-color: var(--color-disabled);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &_light {
    color: var(--color-brand);
    background-color: var(--color-white);
    border: 1px solid var(--color-brand);

    &:not(.button_disabled):not(.button_loading):hover {
      color: var(--color-white);
      border: 1px solid var(--color-brand-hover);
    }

    &:active {
      color: var(--color-white);
      background-color: var(--color-brand-active);
    }
  }

  &_disabled,
  &_disabled:hover {
    color: var(--color-white);
    background-color: var(--color-disabled);
    border: none;
  }

  &_loading {
    pointer-events: none;
    color: transparent !important;
    background-image: linear-gradient(
      90deg,
      var(--color-disabled) 12.5%,
      var(--color-white) 37.5%,
      var(--color-white) 62.5%,
      var(--color-disabled) 87.5%
    );
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite linear;
    background-color: transparent !important;
    border: none !important;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
