@use "@styles" as *;

.form {
  width: 100%;
  padding: var(--space-l) var(--space-m);

  &__title {
    margin-bottom: var(--space-m);
  }

  &__error {
    margin-bottom: var(--space-m);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-xs);
  }

  &__loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
}
