.recipe-intro-section {
  display: flex;
  flex-direction: column;
  gap: 37px;
  margin-bottom: var(--space-xl);

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__button-back {
    flex-shrink: 0;
    cursor: pointer;
  }

  &__img-container {
    border-radius: var(--border-radius);
    overflow: hidden;

    @media screen and (min-width: 600px) {
      max-width: 500px;
    }
  }

  &__img {
    width: 100%;
  }

  &__about {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--space-xl);
    justify-items: center;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: 448px 1fr;
      align-items: center;
      margin-bottom: var(--space-xl);
    }
  }

  &__description {
    @media screen and (min-width: 768px) {
      grid-column: 1 / span 2;
    }
  }
}
