.info-cards-block {
  &__title {
    text-align: center;
    margin-bottom: var(--space-xl);
  }

  &__list {
    display: grid;
    grid-template-columns: minmax(250px, 400px);
    justify-content: center;
    align-items: center;
    row-gap: var(--space-m);

    @media screen and (min-width: 600px) {
      grid-template-columns: repeat(2, minmax(250px, 400px));
      align-items: stretch;
      column-gap: var(--space-m);
    }

    @media screen and (min-width: 1440px) {
      grid-template-columns: repeat(4, minmax(250px, 400px));
    }
  }

  &__item {
    width: 100%;
  }
}
