.recipe-meta-list {
  width: 100%;
  max-width: 100%;
  max-width: 463px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  align-content: center;
  align-items: flex-end;
  justify-items: center;
}
