@use "@styles" as *;

.recipe-search-section {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xl);
  @include container;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__categories {
    width: 100%;
    max-width: 300px;
    align-self: flex-end;
  }

  &__search-results {
    min-height: 300px;
    position: relative;
  }

  &__loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: var(--space-m);
  }

  &__item {
    display: flex;
    max-width: 100%;
    justify-content: center;
    cursor: pointer;

    a {
      display: flex;
    }
  }

  &__card {
    flex: auto 1 1;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 900px) {
  .recipe-search-section {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}

@media screen and (min-width: 1024px) {
  .recipe-search-section {
    &__list {
      column-gap: var(--space-xxl);
      row-gap: 64px;
    }
  }
}
