@use "@styles" as *;

.recipe-search-section {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xl);
  @include container;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__categories {
    width: 100%;
    align-self: flex-end;

    @media screen and (min-width: 768px) {
      max-width: 300px;
    }
  }

  &__loader-wrapper {
    @include loader-wrapper;
  }
}
