.popup {
  width: 90vw;
  padding: var(--space-l) var(--space-m);

  &_style {
    &_sm {
      max-width: 400px;
    }

    &_md {
      max-width: 700px;
    }

    &_lg {
      width: 100vw;
      max-width: calc(100vw - 2 * (var(--space-l)));
    }
  }

  &_background {
    &_white {
      background-color: var(--color-white);
    }

    &_light {
      background-color: var(--color-main-background);
    }
  }
}
