:root {
  /* COLORS */
  --color-brand: #b5460f;
  --color-brand-hover: #c67851;
  --color-brand-active: #872d01;
  --color-disabled: #d9d9d9;

  --color-text-primary: #000000;
  --color-text-secondary: #afadb5;

  --color-main-background: #f7e8d7;
  --color-item-background: #e2b395;

  /* checkbox colors */
  --color-text-disabled: #c4c4c4;
  --color-bg-disabled: #f5f5f5;

  --color-white: #ffffff;

  /* colors with opacity */
  --color-backdrop: rgba(0, 0, 0, 0.4);

  /* SPACING */
  --space-xxxl: 100px;
  --space-xxl: 80px;
  --space-xl: 48px;
  --space-l: 36px;
  --space-m: 24px;
  --space-s: 14px;
  --space-xs: 12px;
  --space-xxs: 8px;

  --container-width: 1240px;

  --header-height: 64px;

  --transition-main: 0.3s ease;
  --border-radius: 10px;
}
