.info-card {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-m);
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--color-white);
  transition: var(--transition-main);
  padding: var(--space-l);

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &__text {
    text-align: center;
  }
}
