.logo {
  display: flex;
  align-items: center;
  column-gap: 20px;

  &__img {
    width: auto;
    height: 50px;
  }

  &__text {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    &__text {
      display: block;
    }
  }
}
