.auth-prompt-hint {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  &__text {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
  }
}
