.recipe-detail-section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 57px;
  //desktop
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: auto auto;

  //   & > .bottom {
  //     grid-column: 1 / -1;
  //   }
}
