.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19px;

  &__combo-box {
    flex-grow: 1;
  }

  &__button {
    flex-shrink: 0;
    width: 64px;
    height: 52px;
    background-color: var(--color-brand);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__search-icon {
    color: var(--color-white);
  }
}
