.description {
  padding: var(--space-l) var(--space-l) 29px var(--space-l);
  border-radius: var(--border-radius);
  background-color: var(--color-item-background);
  font-family: "Roboto";
  font-weight: var(--text-weight, 400);
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text-primary);
}
