@use "@styles" as *;

.detail-page {
  background-color: var(--color-main-background);
  padding-top: 49px;
  padding-bottom: 53px;
  position: relative;
  min-height: 100vh;

  &__inner {
    @include container;
  }

  &__loader-wrapper {
    @include loader-wrapper;
  }
}
