@use "@styles" as *;

.detail-page {
  background-color: var(--color-main-background);
  padding-top: 49px;
  padding-bottom: 53px;

  &__inner {
    @include container;
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 9999;
  }
}
