.recipe-list {
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(250px, 400px);
  justify-content: center;
  gap: var(--space-m);

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, minmax(250px, 400px));
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(3, minmax(250px, 400px));
    column-gap: var(--space-xxl);
    row-gap: 64px;
  }

  &__item {
    display: flex;
    max-width: 100%;
    justify-content: center;
    cursor: pointer;

    a {
      display: flex;
    }
  }

  &__card {
    flex: auto 1 1;
    display: flex;
    flex-direction: column;
  }
}
