.recipe-list {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  gap: var(--space-m);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  @media screen and (min-width: 1024px) {
    column-gap: var(--space-xxl);
    row-gap: 64px;
  }

  &__item {
    display: flex;
    max-width: 100%;
    justify-content: center;
    cursor: pointer;

    a {
      display: flex;
    }
  }

  &__card {
    flex: auto 1 1;
    display: flex;
    flex-direction: column;
  }
}
