@use "@styles" as *;

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img-container {
    flex-grow: 1;
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: var(--space-l);

    @media screen and (min-width: 425px) {
      aspect-ratio: 2.518 /1;
    }
  }

  &__picture,
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    text-align: center;
    @include container;

    a {
      text-decoration: underline;
    }
  }
}
